div#detMatrix input {
    box-shadow: 4px 6px 5px #d7dfe8;
    margin: 5px;
    border: 1px dashed #4086a2;
    border-radius: 27px;
    padding: 11px 23px;
    width: 120px;
}

div#detMatrix table {
    margin: 15px auto;
}
input:focus, button:focus, select:focus{
    outline:none;
}

button:disabled{
    border: 1px solid #a0a0a0 !important;
    padding: 11px 32px;
    min-width: 200px;
    margin: 0 44px;
    background: -webkit-linear-gradient(to top, rgb(255, 255, 255), rgb(171, 171, 183));
    background: -o-linear-gradient(to top, rgb(255, 255, 255), rgb(171, 171, 183));
    background: -moz-linear-gradient(to top, rgb(255, 255, 255), rgb(171, 171, 183));
    background: linear-gradient(to top, rgb(255, 255, 255), rgb(171, 171, 183)) !important;
    box-shadow: 4px 6px 11px rgba(168, 170, 247,0) !important;
    color: #8e8e8e;
    font-size: 18px;
    text-align: center;
    border-radius: 27px;
}

select {
    padding: 7px 20px;
    min-width: 200px;
    border-radius: 27px;
    border: 1px solid #a5a2ff;
    box-shadow: 4px 6px 5px #d7dfe8;
    font-size: 18px;
    background: white;
    width: 200px;
    margin: 0 auto;
    display: block;
}

.clearButton {
    border: 1px solid #edbab8;
    margin: 0 44px;
    padding: 11px 32px;
    min-width: 200px;
    background: -webkit-linear-gradient(to top, rgb(220, 9, 9), rgb(249, 185, 185));
    background: -o-linear-gradient(to top, rgb(220, 9, 9), rgb(249, 185, 185));
    background: -moz-linear-gradient(to top, rgb(220, 9, 9), rgb(249, 185, 185));
    background: linear-gradient(to top, rgb(220, 9, 9), rgb(249, 185, 185));
    box-shadow: 4px 6px 11px rgb(214, 164, 164);
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    border-radius: 27px;
}
.clearButton:hover{
    background: -webkit-linear-gradient(to bottom, rgb(220, 9, 9), rgb(249, 185, 185));
    background: -o-linear-gradient(to bottom, rgb(220, 9, 9), rgb(249, 185, 185));
    background: -moz-linear-gradient(to bottom, rgb(220, 9, 9), rgb(249, 185, 185));
    background: linear-gradient(to bottom, rgb(220, 9, 9), rgb(249, 185, 185));
}
.calculateButton {
    border: 1px solid #edbab8;
    margin: 0 44px;
    padding: 11px 32px;
    min-width: 200px;
    background: -webkit-linear-gradient(to top, rgb(19, 111, 13), rgb(36, 232, 0));
    background: -o-linear-gradient(to top, rgb(19, 111, 13), rgb(36, 232, 0));
    background: -moz-linear-gradient(to top, rgb(19, 111, 13), rgb(36, 232, 0));
    background: linear-gradient(to top, rgb(19, 111, 13), rgb(36, 232, 0));
    box-shadow: 4px 6px 11px rgb(213, 253, 223);
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    border-radius: 27px;
}
.calculateButton:hover{
    background: -webkit-linear-gradient(to bottom, rgb(19, 111, 13), rgb(36, 232, 0));
    background: -o-linear-gradient(to bottom, rgb(19, 111, 13), rgb(36, 232, 0));
    background: -moz-linear-gradient(to bottom, rgb(19, 111, 13), rgb(36, 232, 0));
    background: linear-gradient(to bottom, rgb(19, 111, 13), rgb(36, 232, 0));
}
.randomButton {
    border: 1px solid #edbab8;
    margin: 0 44px;
    padding: 11px 32px;
    min-width: 200px;
    background: -webkit-linear-gradient(to top, rgb(29, 52, 216), rgb(168, 193, 243));
    background: -o-linear-gradient(to top, rgb(29, 52, 216), rgb(168, 193, 243));
    background: -moz-linear-gradient(to top, rgb(29, 52, 216), rgb(168, 193, 243));
    background: linear-gradient(to top, rgb(29, 52, 216), rgb(168, 193, 243));
    box-shadow: 4px 6px 11px rgb(214, 164, 164);
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    border-radius: 27px;

}
.randomButton:hover {
    background: -webkit-linear-gradient(to bottom, rgb(29, 52, 216), rgb(168, 193, 243));
    background: -o-linear-gradient(to bottom, rgb(29, 52, 216), rgb(168, 193, 243));
    background: -moz-linear-gradient(to bottom, rgb(29, 52, 216), rgb(168, 193, 243));
    background: linear-gradient(to bottom, rgb(29, 52, 216), rgb(168, 193, 243));
}

#loading{
    width: 300px;
    display: block;
    margin: 0 auto;
    height: 20px;
}

.resultTextBox {
    width: 300px !important;
    display: block;
    margin:0 auto !important;
    background-color: #ffcc00;
    font-size: 14px;

}

.checkImage {
    width: 40px;
}

.serverInfoLabel {
    line-height: 40px;
    margin-left: 10px;
}