button {
    padding: 5px 7px;
    text-decoration: none;
    cursor: hand;
    border: 1px solid #bbb;
    border-bottom: 1px solid #a0a0a0;
    border-radius: 3px;
    outline-color: lightseagreen;
    float: right;
}

.user-form-full-name-panel {
    width: 100%;
}

.user-form-radio-group-sex {
    margin: 10px;
}

.user-form-sex-panel {
    margin: 10px;
}

.user-form-sex-panel-error {
    border-style: solid;
    border-color: red;
    margin: 10px;
}

.user-form-text-boxes-fio {
    border-style: solid;
    border-color: lightseagreen;
    margin: 5px 0;
    height: 25px;
    width: 100%;
}

.user-form-text-boxes-fio-error {
    border-style: solid;
    border-color: red;
    margin: 5px 0;
    height: 25px;
    width: 100%;
}

.user-form-list-city {
    border-color: lightseagreen;
    border-width: 3px;
    margin: 5px 0;
    height: 25px;
    width: 100%;
}

.user-form-list-city-error {
    border-color: red;
    border-width: 3px;
    margin: 5px 0;
    height: 25px;
    width: 100%;
}

.user-form-date-of-birthday-picker {
    margin: 5px 0;
}

.users-table-general {
    border: dashed #bfd1da;
    display: inline-block;
    float: left;
    margin: 0 20px;
}

.users-table-general button{
    margin: 0;
    background-color: #f96969;
    color: #fff;
    border: none;
}

.users-table-general button:hover {
    background: rgb(232, 63, 63);
    box-shadow: inset 0 1px 3px rgb(255, 3, 3), 0 1px rgb(128, 2, 2), 0 0 1px rgb(115, 0, 0);
}

.user-tab-panel-general {
    border: dashed #bfd1da;
    display: inline-block;
    float: left;
}

.user-tab-panel-general button{
    margin: 0;
    background: #66b3ab;
    color: #fff;
    border: none;
}

.user-tab-panel-general button:hover{
    background: rgb(50, 228, 208);
    box-shadow: inset 0 1px 3px rgb(106, 189, 173), 0 1px rgb(66, 130, 123), 0 0 1px rgb(0, 0, 0);
}

.datePickerDayIsValue {
    background: #96ded6!important;
}
.datePickerDayIsToday {
    background: #66b3ab!important;
}

.datePickerDayIsHighlighted{
    background: rgba(102, 179, 171, .5)!important;
}



