.user-add-form-text-boxes-fio{
    margin: 5px;
    height: 25px;
    width: 100%;
}
.user-add-form-radio-group-sex {
    height: 20px !important;
}

.user-add-form-list-city{
    margin: 5px;
    height: 25px;
    width: 100%;
}
.user-add-form-date-of-birthday-picker{
    height: 25px;
}

.user-add-form-button-add-user{
    margin: 10px 5px;
}



.user-add-form-error-labels {
    color: #e53010;
    margin: 7px 10px;
    height: 25px;
}

.users-table-general {
    margin: 20px 0;
}

